<!DOCTYPE html>

<html lang="en">
    {% load static %}
    <head>
        <title>JD - Personal Site</title>
        <link rel="stylesheet" href="{% static 'main.css' %}"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="header" style="background-image: url({% static 'assets/waves.jpeg' %});">
        </div>

        <div class="header-space">
            <div class="header-content">
                <div class="title-with-buttons">
                    <h1>Jared Dewey</h1>
                    <nav class="horizontal">
                        <a href="/blog"> <button> Blog </button> </a>
                        <a href="/projects"> <button> Projects </button> </a>
                    </nav>
                </div>
            </div>
        </div> 

        <main class="body">
            <hr/>

            <div class="body-block">
                <img src="{% static 'assets/person.jpeg' %}"/>
                <p>Jared Dewey is a college student at the College of William and Mary. He is studying Computational and Applied Mathematics and Statistics (Mathematical Biology Track) with an expected graduation date in May of 2027.</p>
            </div>

            <hr/>

            <div class="body-block" id="blog-preview">
                <!---
                    This is going to be some django magic.
                    Here is the basic format:

                    <div class="blog_snippet">
                        <img src="static/assets/img.png"/>
                        <h6>Post Name</h6>
                        <p>blah blah blah whatever the first lines of the post are...</p>
                        <p id="snippet-date"></p>
                    </div>
                -->
                {% load render_name %}
                {% block render_previews %}
                    {% for post in posts %}
                        <a href="/blog/{{ post.blog_name }}" class="post-preview-block">
                            <h3> {{ post.blog_name|render_name }} </h3>
                            <img src="{% static 'assets/'|add_str:post.img_name %}"/>
                            <p><small>On: {{ post.pub_date }}</small></p>
                        </a>        
                    {% endfor %}
                {% endblock render_previews %}
            </div>
        </main>
        <div class="footer"></div>
    </body>
</html>