<!DOCTYPE html>

<html lang="en">
    {% load static %}
    <head>
        <title>JD - Blog Search</title>
        <link rel="stylesheet" href="{% static 'main.css' %}"/>  
        <meta name="viewport" content="width=device-width, initial-scale=1.0">     
    </head>

    <body>
        <div class="post-header" style="background-image: url({% static 'assets/waves.jpeg' %});">
            <div class="header-content">
                <h1>Blog Search</h1>
                <nav class="horizontal">
                    <a href="/"> <button> Home </button> </a>
                </nav>
            </div>
        </div>

        <hr/>

        <main class="body">
            <container>
        </main>
        <div class="footer"></div>
    </body>
</html>