#about {
    display: flex;
}

.content-section {
    width: 100%;
}

.content-block {
    width: 75vw;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: aliceblue;
    display: flex;
    vertical-align: middle;
}

.content-block:nth-child(even) {
    float: right;
}

.content-block:nth-child(odd) {
    float: left;
}

.content-image {
    height: 25vh;
    display: block;
    aspect-ratio: 1/1;
    justify-self: center;
    margin: auto;
}

.content-image img {
    height: 100%;
    aspect-ratio: 1/1;
}

.content {
    display: block;
    padding-left: 0.5em;
}

.github-image {
    width: 5vh;
    height: 5vh !important;
}
