#about {
    display: flex;
}

#about img {
    float: left;
}

#bio {
    float: right;
    height: 100%;
}

.content-section {
    width: 100%;
}

.content-block {
    width: 75vw;
    height: 25vh;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: aliceblue;
    display: flex;
}

.content-block:nth-child(even) {
    float: right;
}

.content-block:nth-child(odd) {
    float: left;
}

.content-block img {
    max-height: 100%;
    display: inherit;
    aspect-ratio: 1/1;
}

.content {
    display: block;
}
