body {
    padding: 0%;
    margin: 0%;
    background: linear-gradient(skyblue, rgb(46, 121, 151));
}

h1 {
    font-size: 4vw;
    margin: 0%;
}

p {
    font-size: 1.25em;
}

.header {
    width: 100vw;
    vertical-align: middle;
    background-color: skyblue;
    display: block;
}

.header-content {
    display: flex;
}

.header-content img {
    height: 50vh;
    border-radius: 50%;
    padding-left: 1em;
    padding-right: 1em;
    float: left;
    margin: auto;
}

.header-content p {
    text-align: left;
}

.header-text {
    display: block;
    text-align: center;
    float: right;
    margin: 1em;
}

.page-nav {
    background-color: rgba(122, 122, 122, 0.75);
    padding: 0%;
    margin: 0%;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
}

.body {
    padding: 0%;
    margin-left: 0%;
    margin-top: 0%;
    position: relative;
    width: 100vw;
}

.body-block {
    display: block;
    align-items: center;
    width: 100vw;
    min-height: 50vh;
}

.body-block h2 {
    background-color: slategrey;
    padding: 1em;
    margin: auto;
}

#landing {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

#landing-content {
    margin: auto;
    display: block;
}

#landing-content h1 {
    font-size: 7.5vw;
}

#bio {
    margin: 0%;
    min-height: 40%;
}

#interactive-bio {
    display: block;
    min-height: 100%;
    background-color: lightblue;
}

#interactive-bio-text {
    padding: 1em;
    height: 100%;
    font-size: 1.5vw;
}

#about {
    float: left;
    min-height: 100 px;
    background: skyblue;
}

#projects {
    float: right;
    min-height: 100 px;
    background: linear-gradient(skyblue, rgb(36, 135, 176));
}

#papers {
    text-align: left;
    float: left;
    min-height: 100 px;
    background: linear-gradient(rgb(36, 135, 176), rgb(46, 121, 151));
}
