body {
    padding: 0%;
    margin: 0%;
}

.header {
    width: 100vw;
    vertical-align: middle;
    background-color: skyblue;
    display: block;
}

.header-content {
    display: flex;
}

.header-content img {
    height: 50vh;
    border-radius: 50%;
    padding-left: 1em;
    padding-right: 1em;
    float: left;
}

.header-text {
    display: block;
    text-align: center;
    float: right;
}

.page-nav {
    background-color: rgba(122, 122, 122, 0.75);
    padding: 0%;
    margin: 0%;
    justify-content: center;
    vertical-align: middle;
    text-align: center;
}

.page-nav h1 {
    font-size: 4em;
    margin: 0%;
}

.body {
    padding: 0%;
    margin-left: 0%;
    margin-top: 0%;
    position: relative;
    width: 100vw;
}

.body-block {
    display: block;
    align-items: center;
    width: 100vw;
    min-height: 50vh;
}

.body-block h2 {
    background-color: slategrey;
    padding: 1em;
    margin: auto;
}

#bio {
    margin: 0%;
    min-height: 40%;
}

#interactive-bio {
    display: block;
    min-height: 33%;
}

#about {
    float: left;
    min-height: 100 px;
    background: linear-gradient(red, blue);
}

#projects {
    float: right;
    min-height: 100 px;
    background: linear-gradient(red, blue);
}

#papers {
    text-align: left;
    float: left;
    min-height: 100 px;
    background: linear-gradient(red, blue);
}
